| Hi #{@escrow.vendor_email} you are invited to make an escrow transaction, 
| ========================================================================

| If you dont have account, you can sign up to #{@url},

| To login to the site, just follow this link: #{@url}.

| Thanks for joining and have a great day!