p Hi #{@escrow.vendor_email} 
| ==================================================================================================

p #{@escrow.user_email} has requested to make an escrow transaction, 

p for #{@escrow.description} #{@escrow.payment_for}
p If you dont have account, you can register to #{@url1},

p To login to the site, just follow this link: #{@url2}.

p Thanks for using our services and have a great day!